.picture{
    width: 30%;
    float: left;
}

#wrap{
    width: 100%;
}

#small{
    border:1px solid #EEEEEE;

}
#big{
    width: 300px;
    height: 310px;
    border:1px solid #EEEEEE;

}

#small{
    text-align:center;
    position: relative;
}
#small img{
    width:100%;
    margin-top:6px;
}
#move{
    width: 80px;
    height: 80px;
    background:#fff;
    opacity:.5;
    filter:alpha(opacity=50);
    position: absolute;
    top: 0;
    left: 0;
    cursor:move;
    display:none;
}
#big{
    position:relative;
    overflow:hidden;
}
#big img{
    position:absolute;
    top:0;
    left:0;
}

#info{
    width: 50%;
    float: right;
}
